.Carusel-Home {
  max-height: 100px;
}
/* .center { */
/* padding-top: 25%; */
/* display: inherit;
  justify-content: center;
  margin-bottom: 0%;
  align-items: center; */
/* height: 100vh; */
/* margin-bottom: 10%;
} */
/* html {
  scroll-behavior: smooth;
} */

/* body { */
/* background-size: cover; */
/* background-position: top; */
/* padding-top: 30%; */

/* background-repeat: no-repeat;
  background-image: url("../assets/floor2background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  max-height: fit-content; */
/* padding-top: 15%; */
/* margin-bottom: 20%; */
/* } */
/* .Text-homepage {
  font-size: 20px;
  margin-top: 10%;
} */
