.center {
  padding-top: 25%;
  display: inherit;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* body {
  background-image: url("../assets/floor2background.jpg");
  background-size: contain ;
  background-repeat: no-repeat;
  max-height:fit-content;
} */

body {
  background-image: url("../assets/floor2background.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  max-height: fit-content;
}

@media only screen and (max-width: 600px) {
  body {
    background-size: cover;
  }
}
